// primary colors
$primary-color : #6c63ff; // 버튼, 그래프, toast창 테두리 color
$primary-hover-color : #7A3CFF;
// background colors
$background : #F6F5FF;

// container colors 
$container-primary : #FFFFFF; 
$container-secondary : #F5F5F5; // 사이드 메뉴, 그래프 container color
$input-color : #F0F0F0;

// text colors
$text-color : #1D1D1D;
$text-muted : #A5A6B9; // 흐린 text color

// action colors
$edit-hover : #A0A0A0; // 추가, 수정 hover color
$delete-hover : #AF0000; // 삭제 hover color
