@import "src/assets/styles/index.scss";
@import "../mainPage/main.scss";

.signup-main-container {
    // 반응형 웹으로 수정해야함
    max-height: 75%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow: hidden;
    background-color: $container-primary;
    box-shadow: 0px 2px 16px 0px rgb(0 0 0 / 16%);
}

/* Sign up */
.sign-up {
    width: auto;
    height: 12%;
    font-family: "Moul", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: $text-color;
    margin-top: 20%;
}

/* 회원가입 */
.signup-text {
    width: auto;
    height: auto;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: $text-color;
    margin-bottom: 20px;
}

/* 카카오 버튼 */
.kakao-login-btn {
    width: 70%;
    height: 8%;
    border: none;
    border-radius: 5px;
    margin-top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 500;
    background-color: #ffeb3b;
    color: #1d1d1d;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}
.kakao-login-btn-logo {
    width: 25px;
    height: 25px;
    margin-top: 2px;
}
