@import "src/assets/styles/index.scss";
@import "../mainPage/main.scss";

.signup-main-container {
    max-height: 75%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    // overflow: hidden;
    overflow: auto;
    background-color: $container-primary;
    box-shadow: 0px 2px 16px 0px rgb(0 0 0 / 16%);

    // 모바일
    @include mobile {
        max-width: 75%;
        max-height: 70%;
    }
    // 모바일에서 태블릿
    @include tabletToMobile {
        max-width: 65%;
    }
    // 태블릿
    @include tablet {
        max-width: 50%;
    }
    // 태블릿에서 노트북
    @include laptopToTablet {
        max-width: 40%;
    }
}

/* Sign up */
.sign-up {
    width: auto;
    height: auto;
    font-family: "Moul", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: $text-color;
    margin-top: 20%;

    // 모바일
    @include mobile {
        font-size: 36px;
    }
    // 모바일에서 태블릿
    @include tabletToMobile {
        font-size: 43px;
    }
    // 태블릿
    @include tablet {
        font-size: 45px;
    }
}

/* 회원가입 */
.signup-text {
    width: auto;
    height: auto;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: $text-color;
    margin-bottom: 20px;

    // 모바일에서 태블릿
    @include tabletToMobile {
        font-size: 20px;
    }
    // 태블릿
    @include tablet {
        font-size: 22px;
    }
}

/* 카카오 버튼 */
.kakao-login-btn {
    width: 70%;
    height: 8%;
    border: none;
    border-radius: 5px;
    margin-top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 500;
    background-color: #ffeb3b;
    color: #1d1d1d;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    // 모바일에서 태블릿
    @include tabletToMobile {
        font-size: 16px;
    }
    // 태블릿
    @include tablet {
        font-size: 18px;
    }
}
.kakao-login-btn-logo {
    width: 25px;
    height: 25px;
    margin-top: 2px;
}
