@import "src/assets/styles/index.scss";

/* 전체 로그 리스트 컨테이너 */
.log-list-container {
    width: 90%;
    height: 85%;
    background-color: $input-color;
    padding: 3%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 40%;
    grid-auto-rows: 1fr;
    row-gap: 14%;
    column-gap: 15px;

    overflow-y: scroll;
    border-radius: 8px;
    margin-top: 5px;

    @include mobile {
        position: relative;
        width: 100%;
        height: 44%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        row-gap: 22%;
        column-gap: 5%;
        padding: 5% 3%;
    }

    @include tabletToMobile {
        width: 100%;
        height: 80%;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 15%;
        column-gap: 10px;
    }

    @include tablet {
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 8%;
        column-gap: 20px;
    }

    /* 스크롤바 스타일 */
    &::-webkit-scrollbar {
        width: 7px;
        // width: 15px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $text-muted;
        border-radius: 8px;
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background-color: $input-color;
        border-radius: 8px;
    }
}

/* 개별 로그 아이템 */
.log-item {
    position: relative;
    width: 100%;
    height: 180px;

    @include mobile {
        height: 110px;
    }

    @include tabletToMobile {
        height: 120px;
    }

    @include tablet {
        height: 130px;
    }
}

.log-checkbox {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    appearance: none;
    background-color: #fff;
    border: 2px solid #a9a9a9;
    border-radius: 3px;

    &:checked {
        background-color: #fff;
        border: 2px solid #9acd32;
    }

    &:checked::after {
        content: "";
        display: block;
        width: 2px;
        height: 7px;
        border: solid #6b8e23;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        position: relative;
        left: 3.5px;
        top: 0px;
    }
}

/* 로그 이미지 */
.log-image {
    width: 100%;
    height: 75%;
    cursor: pointer;
}

/* 로그 정보 */
.log-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.log-fullscreen-icon {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    bottom: 24%;
    right: 2%;
    width: 23px;
    height: 23px;
    color: white;
    margin: 5px;
    opacity: 0;
    border-radius: 50%;
    transition: opacity 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    @include mobile {
        opacity: 0.7;
    }

    @include tabletToMobile {
        opacity: 0.7;
    }

    @include tablet {
        opacity: 0.7;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.7);
        transform: scale(1.1);
    }
}

.log-item:hover .log-fullscreen-icon {
    opacity: 1;
}
