@import "src/assets/styles/index.scss";
@import "../mainPage/main.scss";

.userinfo-main-container {
    // 반응형 웹으로 수정해야함
    max-height: 75%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
    background-color: $container-primary;
    box-shadow: 0px 2px 16px 0px rgb(0 0 0 / 16%);
}

.userinfo-form {
    width: 75%;
    height: 65%;
}
.userinfo-label {
    color: $text-color;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 10%;
}
.userinfo-input,
.userinfo-select {
    font-size: 13px;
    color: $text-muted;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 9%;
    border: none;
    border-radius: 8px;
    background-color: $input-color;
    padding-left: 15px;
    margin-top: 2%;
    margin-bottom: 10%;
    outline: none;
}
.userinfo-input::placeholder {
    color: $text-muted;
}
.userinfo-button {
    width: 100%;
    height: 12%;
    border: none;
    border-radius: 8px;
    background-color: #6e2add;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}
